<!DOCTYPE HTML>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Mogo</title>
	<link rel="stylesheet" href="style.css">
	<link href="https://fonts.googleapis.com/css?family=Kaushan+Script|Montserrat:400,700|Roboto&display=swap" rel="stylesheet">
</head>

<body>
	<header class="header">
		<div class="container">
			<div class="header_inner">
				<div class="head_logo">MoGo</div>
				<nav class="nav">
					<a class="nav_link active" href="#">ABOUT</a>
					<a class="nav_link" href="#">SERVICE</a>
					<a class="nav_link" href="#">WORK</a>
					<a class="nav_link" href="#">BLOG</a>
					<a class="nav_link" href="#">CONTACT</a>

				</nav>
			</div>
		</div>

	</header>

	<div class="intro">
		<div class="container">
			<div class="intro_inner">
				<h2 class="intro_hightitle">Creative Template</h2>
				<h1 class="intro_title">Welcome to MoGo</h1>
				<a class="btn_intro" href="#">Learn more</a>
			</div>
		</div>

		<div class="intro_slide">
			<div class="container">
				<div class="slide_inner">
					<div class="slide_item active">
						<b>01</b><a href="#">Intro</a>
					</div>
					<div class="slide_item">
						<b>02</b><a href="#">Work</a>
					</div>
					<div class="slide_item">
						<b>03</b><a href="#">About</a>
					</div>
					<div class="slide_item">
						<b>04</b><a href="#">Contacts</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<section class="section">
		<div class="container">
			<div class="section_header">
				<h3 class="section_hightitle">What we do</h3>
				<h2 class="section_title">Story about us</h2>
				<div>
					<p class="section_par">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
				</div>
				
			</div>
			<div class="section_about">
				<div class="about_item">
				<div class="about_img">
					<img src="./img/section_about/icon1.jpg" alt="1">
				</div>
				<div class="about_text">Super team</div>
				</div>
				<div class="about_item">
					<div class="about_img">
					<img src="./img/section_about/icon2.jpg" alt="1">
				</div>
				<div class="about_text">Super team</div>
				</div>
				<div class="about_item">
					<div class="about_img">
					<img src="./img/section_about/icon3.jpg" alt="1">
				</div>
				<div class="about_text">Super team</div>
			</div>
		</div>
		
		</div>
		
	</section>

<div class="digits">
	<div class="container">
	<div class="info">
	<div class="dig_info">
	<div class="count_info">43</div>
	<div class="text_info">Web Design Projects</div>
	</div>
	
	<div class="dig_info">
	<div class="count_info">123</div>
	<div class="text_info">happy client</div>
	</div>
	
	<div class="dig_info">
	<div class="count_info">15</div>
	<div class="text_info">award winner</div>
	</div>	
	
	<div class="dig_info">
	<div class="count_info">99</div>
	<div class="text_info">cup of coffee</div>
	</div>
	
	<div class="dig_info">
	<div class="count_info">24</div>
	<div class="text_info">members</div>
	</div>
		
	</div>		
	</div>
</div>

<section class="section">
	<div class="container">
	<div class="section_header">
	<h3 class="section_hightitle">We work with</h3>
	<h2 class="section_title">Amazing Services</h2>
	<div class="services">
	<div class="services_item">
		<img class="serv_icon" src="img/service/1.png" alt="1">
		<div class="serv_title">Photography</div>
		<div class="serv_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</div>
	</div>
	<div class="services_item">
	<img class="serv_icon" src="img/service/2.png" alt="1">
		<div class="serv_title">Web Design</div>
		<div class="serv_text">Ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</div>		
	</div>
	<div class="services_item">
	<img class="serv_icon" src="img/service/3.png" alt="1">
		<div class="serv_title">Creativity</div>
		<div class="serv_text">Dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</div>		
	</div>
	</div>
	<div class="services">
	<div class="services_item">
		<img class="serv_icon" src="img/service/4.png" alt="1">
		<div class="serv_title">seo</div>
		<div class="serv_text">Ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</div>
	</div>
	<div class="services_item">
	<img class="serv_icon" src="img/service/5.png" alt="1">
		<div class="serv_title">Css/Html</div>
		<div class="serv_text">Lorem dolor sit amet, consectetur adipiscing elit, sed do tempor.</div>		
	</div>
	<div class="services_item">
	<img class="serv_icon" src="img/service/6.png" alt="1">
		<div class="serv_title">digital</div>
		<div class="serv_text">Sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</div>		
	</div>
	</div>
		
</div>
</div>

</section>


<section class="section this_design">
<div class="container">
	<div class="section_header">
	<h3 class="section_hightitle">For all devices</h3>
	<h2 class="section_title">Unique design</h2>
	</div>
	<div class="device">
	<div class="ipad">
	<img src="img/design/ipad.png" alt="1">
	<div class="iphone">
	<img src="img/design/iphone.png" alt="2">
	</div>
	</div>
	</div>
	</div>
		
</section>





</body>
<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
<script src="script.js"></script>


</html>