<!DOCTYPE HTML>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Mogo</title>
	<script src="https://kit.fontawesome.com/da656428f0.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="style.css">
	<link href="https://fonts.googleapis.com/css?family=Kaushan+Script|Montserrat:400,700|Roboto&display=swap" rel="stylesheet">
</head>

<body>
	<header class="header">
		<div class="container">
			<div class="header_inner">
				<div class="head_logo">MoGo</div>
				<nav class="nav">
					<a class="nav_link active" href="#">ABOUT</a>
					<a class="nav_link" href="#">SERVICE</a>
					<a class="nav_link" href="#">WORK</a>
					<a class="nav_link" href="#">BLOG</a>
					<a class="nav_link" href="#">CONTACT</a>

				</nav>
			</div>
		</div>

	</header>

	<div class="intro">
		<div class="container">
			<div class="intro_inner">
				<h2 class="intro_hightitle">Creative Template</h2>
				<h1 class="intro_title">Welcome to MoGo</h1>
				<a class="btn_intro" href="#">Learn more</a>
			</div>
		</div>

		<div class="intro_slide">
			<div class="container">
				<div class="slide_inner">
					<div class="slide_item active">
						<b>01</b><a href="#">Intro</a>
					</div>
					<div class="slide_item">
						<b>02</b><a href="#">Work</a>
					</div>
					<div class="slide_item">
						<b>03</b><a href="#">About</a>
					</div>
					<div class="slide_item">
						<b>04</b><a href="#">Contacts</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<section class="section">
		<div class="container">
			<div class="section_header">
				<h3 class="section_hightitle">What we do</h3>
				<h2 class="section_title">Story about us</h2>
				<div>
					<p class="section_par">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
				</div>

			</div>
			<div class="section_about">
				<div class="about_item">
					<div class="about_img">
						<img src="./img/section_about/icon1.jpg" alt="1">
					</div>
					<div class="about_text">Super team</div>
				</div>
				<div class="about_item">
					<div class="about_img">
						<img src="./img/section_about/icon2.jpg" alt="1">
					</div>
					<div class="about_text">Super team</div>
				</div>
				<div class="about_item">
					<div class="about_img">
						<img src="./img/section_about/icon3.jpg" alt="1">
					</div>
					<div class="about_text">Super team</div>
				</div>
			</div>

		</div>

	</section>

	<div class="digits">
		<div class="container">
			<div class="info">
				<div class="dig_info">
					<div class="count_info">43</div>
					<div class="text_info">Web Design Projects</div>
				</div>

				<div class="dig_info">
					<div class="count_info">123</div>
					<div class="text_info">happy client</div>
				</div>

				<div class="dig_info">
					<div class="count_info">15</div>
					<div class="text_info">award winner</div>
				</div>

				<div class="dig_info">
					<div class="count_info">99</div>
					<div class="text_info">cup of coffee</div>
				</div>

				<div class="dig_info">
					<div class="count_info">24</div>
					<div class="text_info">members</div>
				</div>

			</div>
		</div>
	</div>

	<section class="section">
		<div class="container">
			<div class="section_header">
				<h3 class="section_hightitle">We work with</h3>
				<h2 class="section_title">Amazing Services</h2>
				<div class="services">
					<div class="services_item">
						<img class="serv_icon" src="img/service/1.png" alt="1">
						<div class="serv_title">Photography</div>
						<div class="serv_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</div>
					</div>
					<div class="services_item">
						<img class="serv_icon" src="img/service/2.png" alt="1">
						<div class="serv_title">Web Design</div>
						<div class="serv_text">Ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</div>
					</div>
					<div class="services_item">
						<img class="serv_icon" src="img/service/3.png" alt="1">
						<div class="serv_title">Creativity</div>
						<div class="serv_text">Dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</div>
					</div>
				</div>
				<div class="services">
					<div class="services_item">
						<img class="serv_icon" src="img/service/4.png" alt="1">
						<div class="serv_title">seo</div>
						<div class="serv_text">Ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</div>
					</div>
					<div class="services_item">
						<img class="serv_icon" src="img/service/5.png" alt="1">
						<div class="serv_title">Css/Html</div>
						<div class="serv_text">Lorem dolor sit amet, consectetur adipiscing elit, sed do tempor.</div>
					</div>
					<div class="services_item">
						<img class="serv_icon" src="img/service/6.png" alt="1">
						<div class="serv_title">digital</div>
						<div class="serv_text">Sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</div>
					</div>
				</div>

			</div>
		</div>

	</section>


	<section class="section this_design">
		<div class="container">
			<div class="section_header">
				<h3 class="section_hightitle">For all devices</h3>
				<h2 class="section_title">Unique design</h2>
			</div>
			<div class="device">
				<div class="ipad">
					<img src="img/design/ipad.png" alt="1">
					<div class="iphone">
						<img src="img/design/iphone.png" alt="2">
					</div>
				</div>
			</div>
		</div>

	</section>

	<section class="section">
		<div class="container">
			<div class="section_header">
				<h3 class="section_hightitle">Service</h3>
				<h2 class="section_title">What me do</h2>
				<div>
					<p class="section_par">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
				</div>

				<div class="new_service">
					<div class="new_item">
						<img src="img/new_service/1.png" alt="1" width="100%">
					</div>
					<div class="new_item">
						<div class="accordion">
							<div class="accordion_item active">
								<div class="accordin_header">
									<div class="accord_title">Photography
										<div class="accord_icon">
											<img src="img/new_service/2.png" alt="1">
										</div>
										<div class="arrow">
											<img src="img/new_service/up.png" alt="1">
										</div>
									</div>
								</div>
								<div class="accordion_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
								</div>
							</div>
							<div class="accordion_item">
								<div class="accordin_header">
									<div class="accord_title">Creativity
										<div class="accord_icon">
											<img src="img/new_service/3.png" alt="1">
										</div>
										<div class="arrow">
											<img src="img/new_service/down.png" alt="1">
										</div>
									</div>
								</div>
								<div class="accordion_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
								</div>
							</div>
							<div class="accordion_item">
								<div class="accordin_header">
									<div class="accord_title">Web design
										<div class="accord_icon">
											<img src="img/new_service/4.png" alt="1">
										</div>
										<div class="arrow">
											<img src="img/new_service/down.png" alt="1">
										</div>
									</div>
								</div>
								<div class="accordion_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
								</div>
							</div>


						</div>
					</div>


				</div>
			</div>
	</section>

	<div class="grey_space">
		<div class="container">
			<div class="words_item">

				<div class="words">“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.”
					<div class="words_icon">
						<img src="img/new_service/5.png" alt="1">
					</div>
					<a class="words_btn prev" href="#">
						<img src="img/new_service/left.png" alt="1">
					</a>
					<a class="words_btn next" href="#">
						<img src="img/new_service/right.png" alt="2">
					</a>
					<div class="words_autor">Jon Doe</div>
				</div>
			</div>
		</div>
	</div>

	<section class="section">
		<div class="container">
			<div class="section_header">
				<h3 class="section_hightitle">Who we are</h3>
				<h2 class="section_title">Meet our teem</h2>
				<div>
					<p class="section_par">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
				</div>
			</div>

			<div class="section_team">
				<div class="team_item">
					<div class="team_img">
						<img src="./img/team/1.png" alt="1">
						<div class="name_one">
							<h5 class="name_dev">Matthew Dix</h5>
							<p class="work_dev">Graphic Design</p>
						</div>
					</div>
					<div class="team_text">
						<div class="social">
							<a class="social_item" href="https://www.facebook.com/" target="_blank">
								<i class="fab fa-facebook-f"></i>
							</a>
							<a class="social_item" href="https://twitter.com/" target="_blank">
								<i class="fab fa-twitter"></i>
							</a>
							<a class="social_item" href="https://www.pinterest.com/" target="_blank">
								<i class="fab fa-pinterest"></i>
							</a>
							<a class="social_item" href="https://www.instagram.com/" target="_blank">
								<i class="fab fa-instagram"></i>
							</a>
						</div>
					</div>
				</div>

				<div class="team_item">
					<div class="team_img">
						<img src="./img/team/2.png" alt="1">
						<div class="name_one">
							<h5 class="name_dev">Christopher Campbell</h5>
							<p class="work_dev">Branding/UX design</p>
						</div>
					</div>
					<div class="team_text">
						<div class="social">
							<a class="social_item" href="https://www.facebook.com/" target="_blank">
								<i class="fab fa-facebook-f"></i>
							</a>
							<a class="social_item" href="https://twitter.com/" target="_blank">
								<i class="fab fa-twitter"></i>
							</a>
							<a class="social_item" href="https://www.pinterest.com/" target="_blank">
								<i class="fab fa-pinterest"></i>
							</a>
							<a class="social_item" href="https://www.instagram.com/" target="_blank">
								<i class="fab fa-instagram"></i>
							</a>

						</div>
					</div>
				</div>
				<div class="team_item">
					<div class="team_img">
						<img src="./img/team/3.png" alt="1">
						<div class="name_one">
							<h5 class="name_dev">Michael Fertig </h5>
							<p class="work_dev">Developer</p>
						</div>
					</div>
					<div class="team_text">
						<div class="social">
							<a class="social_item" href="https://www.facebook.com/" target="_blank">
								<i class="fab fa-facebook-f"></i>
							</a>
							<a class="social_item" href="https://twitter.com/" target="_blank">
								<i class="fab fa-twitter"></i>
							</a>
							<a class="social_item" href="https://www.pinterest.com/" target="_blank">
								<i class="fab fa-pinterest"></i>
							</a>
							<a class="social_item" href="https://www.instagram.com/" target="_blank">
								<i class="fab fa-instagram"></i>
							</a>

						</div>
					</div>
				</div>
			</div>
		</div>

		</div>
	</section>

	<div class="grey_space logos">
		<div class="container">
			<div class="inner_logo">
				<div class="logos_item">
					<img src="img/logo/1.png" alt="1">
				</div>
				<div class="logos_item">
					<img src="img/logo/2.png" alt="1">
				</div>
				<div class="logos_item">
					<img src="img/logo/3.png" alt="1">
				</div>
				<div class="logos_item">
					<img src="img/logo/4.png" alt="1">
				</div>
				<div class="logos_item">
					<img src="img/logo/5.png" alt="1">
				</div>
				<div class="logos_item">
					<img src="img/logo/6.png" alt="1">
				</div>
			</div>
		</div>
	</div>

	<section class="section work">
		<div class="container">
			<div class="section_header">
				<h3 class="section_hightitle">What we do</h3>
				<h2 class="section_title">Some of our work</h2>
				<div>
					<p class="section_par">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
				</div>
			</div>

		</div>


		<div class="our_works">
			<div class="work_column">
				<div class="work_item">
					<img class="work_img" src="img/our_work/1.png" alt="1">
					<div class="work_info">
						<div class="work_title">creatively designed</div>
						<div class="work_text">Lorem ipsum dolor sit</div>
					</div>
				</div>
				<div class="work_item">
					<img class="work_img" src="img/our_work/2.png" alt="1">
					<div class="work_info">
						<div class="work_title">creatively designed</div>
						<div class="work_text">Lorem ipsum dolor sit</div>
					</div>
				</div>
			</div>
			<div class="work_column">
				<div class="work_item">
					<img class="work_img" src="img/our_work/3.png" alt="1">
					<div class="work_info">
						<div class="work_title">creatively designed</div>
						<div class="work_text">Lorem ipsum dolor sit</div>
					</div>
				</div>
				<div class="work_item">
					<img class="work_img" src="img/our_work/4.png" alt="1">
					<div class="work_info">
						<div class="work_title">creatively designed</div>
						<div class="work_text">Lorem ipsum dolor sit</div>
					</div>
				</div>
			</div>
			<div class="work_column">
				<div class="work_item">
					<img class="work_img" src="img/our_work/5.png" alt="1">
					<div class="work_info">
						<div class="work_title">creatively designed</div>
						<div class="work_text">Lorem ipsum dolor sit</div>
					</div>
				</div>

			</div>
			<div class="work_column">
				<div class="work_item">
					<img class="work_img" src="img/our_work/3.png" alt="1">
					<div class="work_info">
						<div class="work_title">creatively designed</div>
						<div class="work_text">Lorem ipsum dolor sit</div>
					</div>
				</div>
				<div class="work_item">
					<img class="work_img" src="img/our_work/4.png" alt="1">
					<div class="work_info">
						<div class="work_title">creatively designed</div>
						<div class="work_text">Lorem ipsum dolor sit</div>
					</div>
				</div>
			</div>
	</section>
	
	
	
		<div class="grey_space no_grey">
		<div class="container">
			<div class="words_item">

				<div class="words">“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.”
					<div class="words_icon new_slide">
						<img src="img/slide/1.png" alt="1">
					</div>
					<a class="words_btn prev" href="#">
						<img src="img/slide/2.png" alt="1">
					</a>
					<a class="words_btn next" href="#">
						<img src="img/slide/3.png" alt="2">
					</a>
					<div class="words_autor">Joshua Earle</div>
				</div>
			</div>
		</div>
	</div>
	
	<section class="section clients_say">
		<div class="container">
			<div class="section_header">
				<h3 class="section_hightitle">Happy Clients</h3>
				<h2 class="section_title">What people say</h2>
			</div>
			
			<div class="clients">
				<div class="clients_item">
					<img class="clients_photo" src="img/clients/2.png" alt="">
					<div class="clients_cont">
						<div class="clients_name"><h4>Matthew Dix</h4></div>
						<div class="clients_prof">Graphic Design</div>
						<div class="clients_commit">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.</div>
					</div>
				</div>
				<div class="clients_item">
					<img class="clients_photo" src="img/clients/3.png" alt="">
					<div class="clients_cont">
						<div class="clients_name"><h4>Matthew Dix</h4></div>
						<div class="clients_prof">Graphic Design</div>
						<div class="clients_commit">Ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</div>
					</div>
				</div>
				<div class="clients_item">
					<img class="clients_photo" src="img/clients/4.png" alt="">
					<div class="clients_cont">
						<div class="clients_name"><h4>Matthew Dix</h4></div>
						<div class="clients_prof">Graphic Design</div>
						<div class="clients_commit">Ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</div>
					</div>
				</div>
				<div class="clients_item">
					<img class="clients_photo" src="img/clients/5.png" alt="">
					<div class="clients_cont">
						<div class="clients_name"><h4>Matthew Dix</h4></div>
						<div class="clients_prof">Graphic Design</div>
						<div class="clients_commit">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.</div>
					</div>
				</div>
			</div>
			
		</div>
		</section>






</body>
<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
<script src="script.js"></script>


</html>