body {
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	color: #333;
	line-height: 1.6;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

.hidden_site {
	overflow: hidden;
}

.container {
	width: 100%;
	max-width: 65vw;
	margin: 0 auto;
}

/************************* intro *************************/

.intro {
	width: 100%;
	height: 100vh;
	background: url('./img/intro.jpg') center no-repeat;
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
}

.intro_inner {
	width: 100%;
	max-width: 55rem;
	margin: 0 auto;
	text-align: center;

}

.intro_hightitle {
	font-size: 4rem;
	font-family: 'Kaushan Script', cursive;
	color: #fff;
	margin-bottom: 1.5rem;
}

.intro_title {
	display: flex;
	color: #fff;
	font-size: 8.375rem;
	font-weight: 700;
	text-transform: uppercase;
	line-height: 1;
	position: relative;

}

.intro_title:after {
	content: '';
	display: block;
	width: 3.75rem;
	height: 0.2rem;
	background-color: #fff;
	position: absolute;
	margin: 0 auto;
	bottom: -3.75rem;
	left: 0;
	right: 0;

}

.btn_intro {
	display: inline-block;
	text-decoration: none;
	color: #fff;
	border: 0.2rem solid #fff;
	margin-top: 6rem;
	margin-bottom: 2rem;
	font-size: 0.9rem;
	font-weight: 700;
	padding: 0.55rem 2.5rem;
	text-transform: uppercase;
	left: 45%;
	right: 45%;
	bottom: 0rem;
	transition: background .5s linear, border-color .5s linear, color .5s linear;
}

.btn_intro:hover {
	background: #fff;
	border-color: #fce38a;
	color: #333;
}

/************************** Header *************************/

.header {
	width: 100%;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	z-index: 2000;
	padding-top: 1rem;
}

.header.fix {
	background-color: #e98383;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	transform: translate3d(0, 0, 0);
	box-shadow: 0 0.1rem 0.7rem #FAFAD2;
	padding-top: 0;
	opacity: 0.6;
	transition: opacity .3s linear;
}

.header.fix:hover {
	opacity: 1;
}

.header.fix .nav-mobile {
	top: 0.85rem;
}

.header.active {
	background-color: #e98383;
}

.header_inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.head_logo {
	font-size: 1.875rem;
	font-weight: 700;
	color: #fff;
}

.head_logo:hover {
	animation-duration: 2s;
	animation-name: move;
	animation-iteration-count: infinite;
}

@keyframes move {
	0% {
		transform: scale(1);
	}

	25% {
		transform: scale(0.9);
		color: #fce38a;
	}

	50% {
		transform: scale(0.8);
		color: #FFD700;
	}

	75% {
		transform: scale(0.9);
		color: #fce38a;
	}

	100% {
		transform: scale(1);
	}
}

/*********************** navigation ***************************/

.nav {
	font-size: 14px;
	text-transform: uppercase;
	vertical-align: top;
	margin: 0 .625rem;


}

.nav_link {
	text-decoration: none;
	margin-right: 1.875rem;
	position: relative;
	color: #fff;
	transition: color .5s linear;
}

/****************** make underline with pseudo-elements **************/

.nav_link:after {
	content: '';
	display: block;
	width: 100%;
	height: 0.19rem;
	position: absolute;
	opacity: 0;
	top: 100%;
	left: 0;
	z-index: 1;
	transition: opacity .5s linear;
}

.nav_link:hover {
	color: #fce38a;

}

.nav_link:hover:after,
.nav_link.active:after {
	opacity: 1;
	background: #fce38a;
}

.nav_link.active {
	color: #fce38a;
}

.nav_link i {
	color: #fff;
	transition: color .5s linear;
}

.nav_link i:hover {
	color: #fce38a;
}

/*nav-mobile*/

.nav-mobile {
	display: none;
	width: 2rem;
	position: absolute;
	top: 1.9rem;
	right: 1.7rem;
	padding: 0.7rem 0;
	color: transparent;
	border: 0;
	background: 0;
	cursor: pointer;
}

.nav-mobile:focus {
	outline: 0;
}

.nav-mobile_item {
	display: block;
	width: 100%;
	height: 0.2rem;
	background-color: #fff;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	transition: background .2s linear;
}

.nav-mobile_item:before,
.nav-mobile_item:after {
	content: '';
	width: 100%;
	height: 0.2rem;
	background-color: #fff;
	position: absolute;
	left: 0;
	transition: transform .2s linear;
}

.nav-mobile_item:before {
	top: -0.5rem;
}

.nav-mobile_item:after {
	top: 0.5rem;
}

.nav-mobile.active .nav-mobile_item {
	background: none;
}

.nav-mobile.active .nav-mobile_item:before {
	transform-origin: top left;
	transform: rotate(45deg) translate3d(0px, -4px, 0);
}

.nav-mobile.active .nav-mobile_item:after {
	transform-origin: bottom left;
	transform: rotate(-45deg) translate3d(0px, 4px, 0);
}

/**********************slide ******************/

.intro_slide {
	position: absolute;
	width: 100%;
	bottom: 0;
	left: 0;
	z-index: 1;
}

/*  обвертка из контейнера с slide_inner*/
.slide_inner {
	display: flex;
	justify-content: space-between;
}

.slide_item {
	width: 23%;
	text-transform: uppercase;
	color: #fff;
	padding: 1.25rem 0;
	border-top: 0.2rem solid #fff;
	position: relative;
	opacity: 0.7;
}

.slide_item.active {
	opacity: 1;
}

.slide_item.active:before {
	content: '';
	position: absolute;
	display: block;
	width: 4rem;
	height: 0.2rem;
	top: -0.2rem;
	left: 0;
	background-color: #f38181;
}

.slide_item b {
	font-size: 1.5rem;
	margin-right: 0.4rem;
}

.slide_item a {
	font-size: 1.2rem;
	text-decoration: none;
	color: #fff;
}


/************ Section *************************/

.section {
	padding: 5rem;
}

.section_hightitle {
	font-family: 'Kaushan Script', cursive;
	font-size: 1.5rem;
}

.section_title {
	font-family: 'Montserrat', sans-serif;
	font-size: 1.9rem;
	text-transform: uppercase;
	position: relative;
}

.section_title:after {
	content: '';
	max-width: 4rem;
	display: block;
	height: 0.2rem;
	position: absolute;
	background-color: #f38181;
	left: 0;
	right: 0;
	top: 5rem;
	margin: 0 auto;

}

.section_par {
	font-family: 'Roboto', sans-serif;
	font-size: 0.9375rem;
	color: #999999;
	padding-top: 3.5rem;

}

.section_header {
	margin-bottom: 3rem;
	width: 100%;
	max-width: 59.5rem;
	margin: 0 auto 3rem;
	text-align: center;
}

/************** section about img ***********************/

.section_about {
	display: flex;
	justify-content: space-between;
	margin-top: 5rem;
}

.about_item {
	margin-right: 1vw;
	width: 33.33333%;
	background: #95e1d3;
	position: relative;
}

.about_item:last-child {
	margin-right: 0;
}

.about_item:hover .about_text {
	opacity: 1;
}

.about_item:hover .about_img {
	transform: translate3d(-10px, -10px, 0);
}

.about_item:hover .about_img img {
	opacity: 0.1;
}

.about_img {
	background: linear-gradient(to bottom, #f38181, #fce38a);
	transition: transform .5s linear;
}

.about_img img {
	max-width: 100%;
	height: auto;
	display: block;
	transition: opacity .2 linear;
}

.about_text {
	width: 100%;
	text-transform: uppercase;
	color: #fff;
	font-family: 1.1rem;
	font-weight: 700;
	text-align: center;
	position: absolute;
	top: 50%;
	left: 0;
	transform: translate3d(0, -50%, 0);
	opacity: 0;
	transition: opacity .5s linear;
}


/************ digits info ****************/

.digits {
	background-color: #95e1d3;
	width: 100vw;
}

.info {
	display: flex;

}

.dig_info {
	flex: 1;
	border-left: 0.05rem solid #fff;
	color: #fff;
	text-align: center;
	padding: 3.5rem 0 4rem 0;
}

.dig_info:last-child {
	border-right: 0.05rem solid #fff;
}

.count_info {
	font-size: 4.5rem;
	font-weight: 700;
}

.text_info {
	font-size: 0.9rem;
	text-transform: uppercase;
}

/************* services *****************/
.section_header.serv {
	margin-bottom: 0;
}

.main_services {
	display: flex;
	flex-direction: row;
}

.services {
	flex: 1;
	display: flex;
	margin-top: 5rem;
	flex-direction: column;
}


.services_item {
	flex: 1;
	height: auto;
	position: relative;
	text-align: left;
	padding: 1.5rem 2rem 1.5rem 3rem;

}

.services_item.line {
	border-bottom: 0.05rem solid #e5e5e5;
}


.serv_icon {
	position: absolute;
	top: 2rem;
	left: 0;
}

.serv_title {
	font-size: 0.9rem;
	text-transform: uppercase;
	margin-bottom: 1rem;
}

.serv_text {
	font-family: 'Roboto', sans-serif;
	font-size: 0.9rem;
	color: #b3b3b3;
}


.section.this_design {
	width: 100%;
	max-width: 100vw;
	padding-bottom: 0;
	background: center / cover no-repeat url(img/design/design.jpg);
	max-height: 828.5px;
}

.device {
	margin: 0 auto;
	padding: 0;
	margin-top: 5rem;
	width: 100%;
	display: flex;
	justify-content: center;
}

.ipad {
	z-index: 1;
	position: relative;
	display: block;
}

.iphone {
	position: absolute;
	top: 13rem;
	left: 24.5rem;
	z-index: 1000;
}

/********************** section new service *************************/

.new_service {
	display: flex;
	flex-direction: row;
	margin-top: 4rem;
}

.new_item {
	flex: 1;
}

.new_item:first-child {
	padding-right: 1.5rem;
}

.accordion {
	text-align: left;

}

.accordion_item {
	border: 0.05rem solid #e5e5e5;
	margin-bottom: 0.2rem;
}

#accordion_item_a.active .accordin_header {
	border-bottom: 0.05rem solid #e5e5e5;
}

#accordion_item_a.active #accordion_text_a {
	display: block;
}

#accordion_item_a.active .arr_up {
	display: block;
}

#accordion_item_a.active .arr_down {
	display: none;
}

#accordion_item_a .arr_up {
	display: none;
}

#accordion_item_b.active .accordin_header {
	border-bottom: 0.05rem solid #e5e5e5;
}

#accordion_item_b.active #accordion_text_b {
	display: block;
}

#accordion_item_b.active .arr_up {
	display: block;
}

#accordion_item_b.active .arr_down {
	display: none;
}

#accordion_item_b .arr_up {
	display: none;
}

#accordion_item_c.active .accordin_header {
	border-bottom: 0.05rem solid #e5e5e5;
}

#accordion_item_c.active #accordion_text_c {
	display: block;
}

#accordion_item_c.active .arr_up {
	display: block;
}

#accordion_item_c.active .arr_down {
	display: none;
}

#accordion_item_c .arr_up {
	display: none;
}


.accordin_header {
	padding: 0.5rem 0;
	cursor: pointer;
}

.accord_title {
	font-family: 'Montserrat', sans-serif;
	font-size: 0.9rem;
	position: relative;
	text-transform: uppercase;
	padding-left: 3.5rem;
}

.accord_icon {
	position: absolute;
	top: -0.2rem;
	left: 0.9rem;
}

.arrow {
	position: absolute;
	top: 0.13rem;
	right: 1rem;
}

.arr_up {
	display: none;
	padding-top: 0.15rem;
}

.accordion_text {
	font-family: 'Roboto', sans-serif;
	font-size: 0.9rem;
	color: #b3b3b3;
	padding: 1rem 1rem;
	display: none;
	font-weight: 300;
	font-style: italic;
}


/**************** grey slide*************/

.grey_space {
	width: 100%;
	max-width: 100vw;
	background: #f8f8f8;
	text-align: left;
	height: 17rem;
	margin-bottom: 5rem;
	display: flex;
	align-items: center;
}

.words_item:nth-child(2) {
	display: none;
}

.words {
	font-family: 'Roboto', sans-serif;
	font-style: italic;
	font-size: 1.5rem;
	color: #b3b3b3;
	font-weight: 200;
	position: relative;
	padding-left: 19rem;
	padding-right: 5.5rem;
}

.words_icon {
	position: absolute;
	top: 0;
	left: 5.5rem;
}

.words_autor {
	font-family: 'Kaushan Script', cursive;
	font-size: 1.5rem;
	color: #333;
	position: relative;
	padding-left: 5rem;
}

.words_autor:before {
	content: '';
	display: block;
	width: 4rem;
	height: 0.2rem;
	background-color: #f38181;
	position: absolute;
	top: 1.25rem;
	left: 0;
}

.words_btn {
	position: absolute;
	top: 40%;
}

.words_btn.prev {
	left: 0%;
}

.words_btn.next {
	right: 0%;
}

/********************** Team section ************************/

.section_team {
	display: flex;
	justify-content: space-between;
	margin-top: 5rem;
}

.team_item {
	margin-right: 1vw;
	width: 33.33333%;
	background: #95e1d3;
	position: relative;
}

.team_item:hover .team_text {
	opacity: 1;
}

.team_item:hover .team_img {
	transform: translate3d(-10px, -10px, 0);
}

.team_item:hover .team_img img {
	opacity: 0.1;
}

.team_img {
	background: linear-gradient(to bottom, #f38181, #fce38a);
	transition: transform .5s linear;
	position: relative;
}

.team_img img {
	max-width: 100%;
	display: block;
	transition: opacity .2 linear;
}

.team_text {
	width: 100%;
	text-transform: uppercase;
	color: #fff;
	font-family: 1.1rem;
	font-weight: 700;
	text-align: center;
	position: absolute;
	top: 50%;
	left: 0;
	transform: translate3d(0, -50%, 0);
	opacity: 0;
	transition: opacity .5s linear;
}

.social {
	display: flex;
	justify-content: center;
}

.social_item {
	background: #fce38a;
	color: #f38181;
	width: 3.5rem;
	height: 3.5rem;
	padding-top: 0.2rem;
	font-size: 2rem;
	transition: background .2s linear;
	text-decoration: none;
	color: #f38181, color .2s;
	border-right: 0.03rem solid #f38181;

}

.social_item:last-child {
	border: 0;
}

.social_item:hover {
	background: #f38181;
	color: #fff;
}

.name_one {
	position: absolute;
	bottom: -7rem;
	left: 30%;
	right: 10%;
}


.name_dev {
	font-family: 'Montserrat', sans-serif;
	font-size: 0.9rem;
	text-transform: uppercase;
}

.work_dev {
	font-family: 'Kaushan Script', cursive;
	font-weight: 300;
	font-style: italic;
	font-size: 0.9rem;
	color: #b3b3b3;
}

.grey_space.logos {
	margin-top: 7rem;
	margin-bottom: 0;
}

.inner_logo {
	display: flex;
	justify-content: space-around;
}

.logos_item {}

.logos_image {
	max-width: 100%;
	height: auto;
	display: block;
}

/********************* work section **************/

.section.work {
	padding: 7rem 0 4rem 0;
}

.our_works {
	width: 100vw;
	display: flex;
	align-items: center;
	margin-top: 5rem;
}

.work_column {
	flex: 1;
}

.work_item {
	position: relative;
	background: linear-gradient(to bottom, #f38181, #fce38a);
}

.work_item:hover .work_img {
	opacity: 0.1;
}

.work_item:hover .work_info {
	opacity: 1;
}

.work_img {
	transition: opacity .2s linear;
	display: block;
	max-width: 100%;
	height: auto;
}

.work_info {
	position: absolute;
	width: 100%;
	top: 50%;
	left: 0;
	transform: translate3d(0, -50%, 0);
	text-align: center;
	color: #fff;
	padding: 0 1rem;
	opacity: 0;
}

.work_title {
	font-size: 0.9rem;
	text-transform: uppercase;
}

.work_text {
	font-family: 'Roboto', sans-serif;
	font-style: italic;
	font-weight: 300;
	font-size: 0.9rem;
}

/*************** slider **********************/

.grey_space.no_grey {
	background: #fff;
}

.words_icon.new_slide {
	position: absolute;
	top: -1rem;
	left: 4rem;
}

/***************** clients ***********************/

.section.clients_say {
	width: 100%;
	background: center / cover no-repeat url(img/clients/1.jpg);
}

.clients {
	display: flex;
	flex-wrap: wrap;
}

.clients_item {
	width: 50%;
	padding: 0rem 2.8rem 0rem 11rem;
	margin: 2rem 0;
	position: relative;
}

.clients_photo {
	position: absolute;
	top: 0;
	left: 2.5rem;
}

.clients_name {
	font-family: 'Montserrat', sans-serif;
	font-size: 0.9rem;
	text-transform: uppercase;
	font-weight: 500;
	margin-bottom: 0.4rem;
}

.clients_prof {
	font-family: 'Roboto', sans-serif;
	font-size: 0.9rem;
	font-style: italic;
	font-weight: 300;
}

.clients_commit {
	font-family: 'Roboto', sans-serif;
	font-size: 0.9rem;
	color: #999;
	position: relative;
	padding-top: 2.3rem;
}

.clients_commit:before {
	content: '';
	display: block;
	width: 4rem;
	height: 0.2rem;
	background-color: #f38181;
	position: absolute;
	top: 1rem;
	left: 0;
}


/*************** Blog ********************/

.blog {
	display: flex;
	padding-top: 2rem;
}

.blog_item {
	flex: 1;
	margin: 0 auto;
	width: 33.3%;
	margin-right: 1.7vw;
}


.blog_photo {
	position: relative;
}

.photo_team {
	max-width: 100%;
}

.blog_date {
	position: absolute;
	bottom: 1rem;
	left: -1rem;
	background: #95e1d3;
	text-align: center;
	height: 4.375rem;
	width: 3.75rem;
	padding: 0.7rem 0;
}

.blog_day {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	color: #fff;
	font-size: 0.9rem;
}

.blog_month {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-style: italic;
	color: #fff;
	font-size: 0.9rem;
}

.blog_content {
	margin-right: 2rem;
	border-bottom: .03rem solid #e5e5e5;
}

.blog_title a {
	text-decoration: none;
	font-weight: 500;
	color: #333;
	font-size: 0.9rem;
	font-family: 'Montserrat', sans-serif;
	padding: 0.8rem 0;
}

.blog_text {
	font-family: 'Roboto', sans-serif;
	font-size: 0.9rem;
	color: #999;
	padding: 0 0 1rem 0;
}

.blog_stats {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-style: italic;
	color: #d9d9d9;
	font-size: 0.9rem;
	margin-top: 0.8rem;
}

.blog-stats_item {
	vertical-align: top;
	display: inline-block;
	margin-right: 0.7rem;
}

i {
	color: #95e1d3;
}


/******************** Map ***************************/

.map_item {
	background: center / cover no-repeat padding-box url(img/map.jpg);
	padding: 0;
}

.map_item:hover .map {
	opacity: 1;
}

.map {
	height: 25.5vh;
	opacity: 0;
	transition: opacity .5s linear;
	display: block;
}

/*********** Footer ***************/

.footer {
	padding: 5rem 0 3rem 0;
	background: #f8f8f8;
}

.footer_inner {
	display: flex;
	width: 100%;
	flex-direction: row;
}

.footer_column.left {
	width: 39%;
	padding-right: 2rem;
	max-width: 100%;
	height: auto;
}

.footer_logo {
	font-size: 2.875rem;
	font-weight: 700;
	color: #cccccc;
}

.footer_text {
	color: #b1b1b1;
	font-size: 0.9rem;
	padding: 2.3rem 0 2.5rem 0;
}

.footer_social-header {
	font-size: 0.9rem;
	color: #333;
	padding-bottom: 2rem;
	border-bottom: 0.03rem solid #e5e5e5;
}

.footer_social-header b {
	font-weight: 700;
}

.footer_social-footer {
	padding-top: 1.5rem;
	color: #c9c9c9;
	margin-bottom: 1.7rem;
}

.footer_social-footer i {
	margin: 0 0.7rem;
	font-size: 1.3rem;
	width: 1.3rem;
	height: 1.3rem;
}

.footer_form {
	display: flex;
	padding-bottom: 4rem;
}

.footer_input {
	width: 14.375rem;
	height: 2.5rem;
	background: #fff;
	font-family: 'Roboto', sans-serif;
	font-style: italic;
	font-size: 0.9rem;
	line-height: 1.1;
	outline: 0;
	color: #333;
	border-right: 0;
	border-color: #e7e7e7;
}

.footer_input::placeholder {
	color: #d9d9d9;
	;
}

.footer_input:focus {
	outline: 0;
	border-color: #95e1d3;
}

.footer_btn-sub {
	height: 2.5rem;
	width: 9.375rem;
	background-color: #95e1d3;
	border-color: #95e1d3;
	color: #fff;
	cursor: pointer;
	font-family: 'Montserrat', sans-serif;
	font-size: 0.9rem;
	box-sizing: border-box;
	font-weight: 700;
	line-height: 1.1;
	text-transform: uppercase;
	transition: background .3s linear, border-color .3s linear;
}

.footer_btn-sub:hover {
	background: #008B8B;
	border-color: #008B8B;
}

.footer_btn-sub:focus {
	outline: 0;
}

.footer_column.center {
	width: 31.5%;
	margin-left: 2rem;
	display: flex;
	flex-direction: column;
	padding-top: 1.5rem;
	padding-right: 2rem;
	max-width: 100%;
	height: auto;
}

.footer_column b {
	font-size: 0.85rem;
	text-transform: uppercase;
}

.footer_blog-item {
	position: relative;
	padding-left: 8.5rem;
	text-align: left;
	padding-top: 3.5rem;
}

.footer_blog-item:first-child {
	margin-top: 0.5rem;
	padding-top: 3.4rem;
}

.footer_blog-img {
	position: absolute;
	top: 3.1rem;
	left: 0;
}

.footer_blog-title {
	font-size: 0.8rem;
	text-transform: uppercase;
	margin-bottom: 0.3rem;
}

.footer_blog-text {
	font-family: 'Roboto', sans-serif;
	font-size: 0.8rem;
	font-style: italic;
	font-weight: 300;
	color: #b1b1b1;
}

.footer_column.right {
	flex: 29.5%;
	padding-top: 1.5rem;
	max-width: 100%;
	height: auto;
}

.footer_column b {
	font-size: 0.85rem;
	text-transform: uppercase;
}

.instagram {
	display: flex;
	flex-direction: row;
	padding-top: 1.5rem;
	padding-bottom: 1rem;
}

.instagram_block {
	flex: 1;
	padding: 0;
	margin: 0;
	border-right: 0.18rem solid #fff;
}

.instagram_block:last-child {
	border-right: 0;
}

.instagram_item {
	display: block;
	width: 100%;
	border-bottom: 0.18rem solid #fff;
}

.instagram_item.not {
	border-bottom: 0;
}

.more_photos {
	font-size: 0.82rem;
	font-family: 'Roboto', sans-serif;
	font-style: italic;
	color: #646464;
}

.foot_copy {
	width: 100vw;
}

.copyright {
	text-align: center;
	background: #f8f8f8;
	font-family: 'Montserrat', sans-serif;
	font-size: 0.9rem;
	color: #333;
	padding: 1.2rem 0;
	border-top: 0.2rem solid #e5e5e5;
}

.copyright span {
	color: #f38181;
}

@media (max-width: 1870px) {
	.container {
		width: 1200px;
	}
}

@media (max-width: 1760px) {
	.footer_column.left {
		width: 33.3%;
	}

	.footer_column.center {
		width: 33.3%;
	}

	.footer_column.right {
		width: 33.3%;
	}
}

@media (max-width: 1700px) {
	.footer_inner {
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
	}

	.footer_column.left {
		width: 50%;
	}

	.footer_column.center {
		width: 50%;
	}

	.footer_column.right {
		max-width: 310px;
		padding-top: 2.5rem;
	}
}



@media (max-width: 1300px) {

	/*grey space */
	.words {
		font-size: 0.8rem;
		padding: 0 2.5rem 0rem 12.5rem;
		font-size: 0.9rem;
	}

	.words_icon {
		top: -1.3rem;
		left: 3rem;
	}

	.words_icon img {
		width: 125px;
	}

	.words_icon.new_slide {
		left: 3rem;
	}
}


@media (max-width: 1200px) {

	/* intro */

	.intro_hightitle {
		font-size: 3.1rem;
	}

	.intro_title {
		font-size: 7.375rem;
	}

	/*about*/
	.about_item {
		margin-right: 2vw;
	}

	/*grey space */
	.grey_space {
		height: 12rem;
		margin-bottom: 0;
	}

	.words {
		font-size: 0.8rem;
		padding: 0 2.5rem 0rem 12rem;
	}

	.words_icon {
		top: -1rem;
		left: 3rem;
	}

	.words_icon img {
		width: 120px;
	}

	/*social */
	.social_item {
		width: 2.5rem;
		height: 2.5rem;
		padding-top: 0.2rem;
		font-size: 1.5rem;
	}

	.name_one {
		left: 20%;
		bottom: -5.5rem;
		right: 0;
	}

	.name_dev {
		font-size: 0.8rem;
	}

	.work_dev {
		font-size: 0.8rem;
		margin: 0.4rem 0;
	}

	/* clients */
	.clients_item {
		padding-right: 0;
	}

	/* footer */
	.footer_inner {
		display: block;
	}

	.footer_column.left {
		width: 100%;
		padding-right: 0;
	}

	.footer_column.center {
		width: 100%;
		padding-right: 0;
		margin-left: 0;
	}

	.footer_column.right {
		padding-top: 3.5rem;
		width: 300px;
		margin-right: 0;
	}
}

@media (max-width: 1000px) {
	.section {
		padding-bottom: 3.5rem;
	}
	/* nav */
	.nav_link {
	margin-right: 0.65rem;
}

	/* intro */

	.intro_hightitle {
		font-size: 2.1rem;
	}

	.intro_title {
		font-size: 5.5rem;
	}

	/*  Service  */
	.main_services {
		flex-direction: column;
	}

	.services {
		flex-direction: row;
		margin-top: 0;
	}

	.services:first-child {
		margin-top: 3.5rem;
	}

	.services_item {
		border-bottom: 0.05rem solid #e5e5e5;
		padding: 0.7rem 2rem 0.7rem 3rem;
	}

	/* section words space grey */
	.grey_space {
		height: 10rem;
	}

	.words {
		font-size: 0.8rem;
		padding: 0 1.5rem 0rem 8.5rem;
	}

	.words_icon {
		top: -0.5rem;
		left: 1.5rem;
	}

	.words_icon img {
		width: 100px;
	}

	.words_autor {
		font-size: 1rem;
	}

	.words_autor:before {
		top: 0.7rem;
	}

	.words_icon.new_slide {
		left: 1.7rem;
		top: -0.4rem;
	}

	/*social */
	.social_item {
		width: 2rem;
		height: 2rem;
		padding-top: 0.2rem;
		font-size: 1.2rem;
	}

	.name_one {
		left: 20%;
		bottom: -5.0rem;
	}

	/* logo */
	.grey_space.logos {
		margin-top: 3rem;
	}

	/* work */
	.section.work {
		padding-top: 4rem;
	}

	/* clients */

	.clients_item {
		width: 100%;
		margin: 1rem 0;
	}

	/*************** Blog ********************/
	.blog {
		flex-direction: column;
		padding-top: 1rem;
		max-width: 380px;
		margin: 0 auto;
	}

	.blog_item {
		width: 100%;
		padding: 0.5rem 0;
		margin-right: 0;

	}

}




@media (max-width: 780px) {
	.section {
		padding-bottom: 2.5rem;
	}

	/* intro */

	.intro_hightitle {
		font-size: 1.8rem;
	}

	.intro_title {
		font-size: 4.3rem;
	}

	/*** nav ****/

	.nav {
		width: 100%;
		display: none;
		position: absolute;
		top: 100%;
		left: -0.625rem;
		background-color: #e98383;
	}

	.nav_link {
		display: block;
		margin: 0;
		padding: 0.4rem 2rem;
	}

	.nav_link:after {
		top: 88%;
		left: 0;
	}

	.nav-mobile {
		display: block;
	}

	/*section*/
	.section {
		padding: 2.5rem;
	}

	/* slider */

	.slider_info {
		display: none;
	}

	.slide_item.active:before {
		width: 50%;
	}

	/*section about*/
	.section_about {
		margin-top: 0;
	}

	/*digits info*/

	.info {
		flex: none;
		width: 100%;
		margin: 0 auto;
		flex-direction: column;
	}

	.dig_info {
		border-left: 0;
		border-bottom: 0.05rem solid #fff;
		padding: 0.5rem 0;
	}

	.dig_info:last-child {
		border-right: 0;
		border-bottom: 0;
	}

	.count_info {
		font-size: 2.5rem;
	}

	/*section this design ipad*/

	.section.this_design {
		max-height: 788.5px;
	}

	.ipad_img {
		max-width: 100%;
		height: auto;
	}

	.iphone {
		top: 16rem;
		left: 24.5rem;
	}

	.iphone_img {
		max-width: 180px;
		height: auto;
	}

	/***** new service *****/
	.new_item:first-child {
		display: none;
	}

	.new_item:last-child {
		width: 100%;
	}

	/* section words space grey */
	.grey_space {
		height: 8rem;
	}

	.words {
		font-size: 0.6rem;
		padding: 0 1rem 0rem 7rem;
	}

	.words_icon {
		top: -0.5rem;
		left: 1.5rem;
	}

	.words_icon img {
		width: 80px;
	}

	.words_autor {
		font-size: 0.9rem;
	}

	.words_autor:before {
		top: 0.7rem;
	}

	.words_icon.new_slide {
		left: 1.45rem;
	}

	/*social */
	.section_team {
		margin-top: 2.5rem;
	}

	.team_text {
		top: 45%;
	}

	.social_item {
		width: 1.5rem;
		height: 1.5rem;
		padding-top: 0.2rem;
		font-size: 0.85rem;
	}

	/* work */

	.section.work {
		padding: 2.5rem 0;
	}

	.our_works {
		flex-wrap: wrap;
	}

	.work_column {
		width: 50%;
		flex: none;
	}

	/* footer */
	.footer {
		padding: 2rem 0;
	}

	.footer_text {
		padding: 1.1rem 0 1.3rem 0;
	}

	.footer_social-header {
		padding-bottom: 1rem;
	}

	.footer_social-footer {
		padding-top: 1rem;
		margin-bottom: 1rem;
	}

	.footer_form {
		padding-bottom: 1rem;
	}

	.footer_blog-item {
		padding-top: 2.5rem;
	}

	.footer_blog-img {
		top: 2.1rem;
	}

}



@media (max-width: 731px) {

	/*social */
	.name_one {
		left: 10%;
		bottom: -3.0rem;
	}

	.name_dev {
		font-size: 0.5rem;
	}

	.work_dev {
		font-size: 0.5rem;
		margin: 0.2rem 0;
	}

}



@media (max-width: 580px) {

	/* intro */

	.intro_hightitle {
		font-size: 1.3rem;
	}

	.intro_title {
		font-size: 3.3rem;
	}

	/*section*/
	.section_header {
		margin-bottom: 1.5rem;
	}

	.section_hightitle {
		font-size: 1.05rem;
	}

	.section_title {
		font-size: 1.25rem;
	}

	.section_title:after {
		top: 3.2rem;
	}

	.section_par {
		padding-top: 1.5rem;
	}

	/* about  */
	.section_about {
		flex-direction: column;
		justify-content: center;
		margin-top: 0.5rem;
	}

	.about_item {
		margin-right: 0;
		margin-top: 2vh;
		width: 100%;
	}

	/*  Service  */
	.main_services {
		flex-direction: column;
	}

	.services {
		flex-direction: column;
	}

	.services:first-child {
		margin-top: 2rem;
	}

	.services_item {
		padding: .7rem 0 .7rem 3rem;
		width: 100%;
	}

	/*section this design ipad*/

	.section.this_design {
		max-height: 760.5px;
	}

	.iphone {
		top: 16.5rem;
		left: 22rem;
	}

	.iphone_img {
		width: 170px;
		height: auto;
	}

	/* section new services*/
	.new_service {
		margin-top: 2.5rem;
	}

	/* section words space grey */
	.grey_space {
		height: 8rem;
	}

	.words {
		font-size: 0.6rem;
		padding: 0 1rem 0rem 6rem;
	}

	.words_icon {
		top: .5rem;
		left: 1.5rem;
	}

	.words_icon img {
		width: 60px;
	}

	.words_autor {
		font-size: 0.9rem;
	}

	.words_autor:before {
		top: 0.7rem;
	}

	.words_icon.new_slide {
		top: 0.3rem;
	}

	/* social */
	.section_team {
		margin-top: 1.5rem;
	}

	.social {
		justify-content: start;
	}

	.social_item {
		width: 0.8rem;
		height: 0.8rem;
		padding-bottom: 0.9rem;
		font-size: 0.45rem;
	}

	.name_one {
		left: 10%;
		bottom: -3.0rem;
	}

	.name_dev {
		font-size: 0.5rem;
	}

	.work_dev {
		font-size: 0.5rem;
		margin: 0;
	}

	/* logo */
	.grey_space.logos {
		height: auto;
	}

	.inner_logo {
		flex-wrap: wrap;
		justify-content: center;
	}

	.logos_item {
		width: 50%;
	}

	.logos_image {
		margin: 0 auto;
		padding: 0.7rem 0;
	}

	/* work */
	.section.work {
		padding-top: 2rem;
		padding-bottom: 1rem;
	}

	.our_works {
		margin-top: 1rem;
	}

	.work_title {
		font-size: 0.7rem;
	}

	.work_text {
		font-size: 0.7rem;
	}

	/* clients */
	/* clients */
	.clients_photo {
		position: static;
	}

	.clients_item {
		padding-left: 0;
		text-align: center;
	}

	.clients_commit:before {
		left: 0;
		right: 0;
		margin: 0 auto;
	}

	/* footer */
	.footer_blog-title {
		font-size: 0.7rem;
	}

	.footer_social-footer i {
		margin: 0 0.2rem;
	}

	.footer_column.right {
		width: 100%;
	}

}



@media (max-width: 530px) {
	.section.this_design {
		max-height: 723px;
	}

	.iphone {
		top: 14.5rem;
		left: 20rem;
	}

	.iphone_img {
		width: 160px;
		height: auto;
	}

}

@media (max-width: 490px) {
	.section.this_design {
		max-height: 675.5px;
	}

	.iphone {
		top: 13rem;
		left: 18rem;
	}

	.iphone_img {
		width: 150px;
		height: auto;
	}

}

@media (max-width: 450px) {
	.section.this_design {
		max-height: 626.4px;
	}

	.iphone {
		top: 12rem;
		left: 16rem;
	}

	.iphone_img {
		width: 140px;
		height: auto;
	}

}

@media (max-width: 426px) {
	.section.this_design {
		max-height: 596.5px;
	}

	.iphone {
		top: 11rem;
		left: 15rem;
	}

	.iphone_img {
		width: 135px;
		height: auto;
	}

}


@media (max-width: 420px) {
	.container {
		max-width: 80vw;
	}

	.container.not_scale {
		max-width: 65vw;
	}

	/* intro */

	.intro_hightitle {
		font-size: 1.2rem;
	}

	.intro_title {
		font-size: 2.5rem;
	}

	/*section this design ipad*/

	.section.this_design {
		max-height: 589.5px;
	}

	.iphone {
		top: 11rem;
		left: 14.8rem;
	}

	.iphone_img {
		width: 125px;
		height: auto;
	}

	/* section words space grey */

	.words {
		font-size: 0.5rem;
		padding: 0 1rem 0rem 6rem;
	}

	.words_icon {
		top: .2rem;
		left: 1.5rem;
	}

	.words_icon img {
		width: 60px;
	}

	.words_autor {
		font-size: 0.9rem;
	}

	.words_autor:before {
		top: 0.7rem;
	}

	.words_icon.new_slide {
		top: 0;
	}

	.name_one {
		left: 17%;
		bottom: -3.0rem;
	}


}

@media (max-width: 400px) {
	/*section this design ipad*/

	.section.this_design {
		max-height: 565.4px;
	}

	.iphone {
		top: 10rem;
		left: 14.2rem;
	}

	.iphone_img {
		width: 120px;
		height: auto;
	}
}



@media (max-width: 380px) {

	/*section this design ipad*/

	.section.this_design {
		max-height: 541px;
	}

	.iphone {
		top: 10rem;
		left: 12.7rem;
	}

	.iphone_img {
		width: 115px;
		height: auto;
	}

	/* footer */
	.footer_blog-title {
		font-size: 0.55rem;
	}

	.copyright {
		font-size: 0.7rem;
	}

}

@media (max-width: 375px) {

	/*section this design ipad*/

	.section.this_design {
		max-height: 536.2px;
	}

}


@media (max-width: 360px) {

	/*section this design ipad*/

	.section.this_design {
		max-height: 517.2px;
	}

	.iphone {
		top: 9rem;
		left: 12.7rem;
	}

	.iphone_img {
		width: 107px;
		height: auto;
	}
}

@media (max-width: 340px) {

	/*section this design ipad*/

	.section.this_design {
		max-height: 493.4px;
	}

	.iphone {
		top: 8.5rem;
		left: 11.7rem;
	}

	.iphone_img {
		width: 100px;
		height: auto;
	}

	.words_autor {
		padding-left: 3.5rem;
	}

	.words_autor:before {
		width: 3rem;
	}
}



@media (max-width: 320px) {

	/*section this design ipad*/
	.section.this_design {
		max-height: 469.1px;
	}

	.iphone {
		top: 8rem;
		left: 10.7rem;
	}

	.iphone_img {
		width: 91px;
		height: auto;
	}

	.footer_social-footer i {
		margin: 0 0.15rem;
	}
}


@media (min-width: 1770px) {
	/*** section ***/

	.about_item {

		width: auto;
	}

	.team_item {
		width: auto;
	}

	/*************** Blog ********************/
	.blog_item {
		margin-right: 1.1vw;
	}

}

@media (min-width: 1920px) {
	.our_works {
		max-width: 1920px;
		margin: 0 auto;
	}
}

@media (min-width: 2000px) {

	/*************** Blog ********************/
	.blog_item {
		margin-right: 0;
	}

	.footer_column.right {
		max-width: 310px;

	}
}